[submodule "aws/ansible_install/roles"]
	path = aws/ansible_install/roles
	url = https://github.com/scylladb/scylla-ansible-roles/
[submodule "gcp/ansible_install/roles"]
	path = gcp/ansible_install/roles
	url = https://github.com/scylladb/scylla-ansible-roles/
